@media screen and (max-width: 1220px) {
  main {
    padding: 4rem 3rem;
  }

  .product-card {
    width: 200px;
  }

  .desktop-img {
    display: none;
  }

  .tablet-img {
    display: block;
  }

  .product-card .add-to-cart-btn,
  .cart-quantity-control-btns {
    top: 175px;
  }
}

@media screen and (max-width: 830px) {
  main {
    flex-direction: column;
    align-items: center;
  }

  .products-cards-container {
    justify-content: center;
  }
}

@media screen and (max-width: 560px) {
  main {
    padding: 4rem 1.5rem;
  }

  .cart-container {
    width: 95vw;
  }

  dialog {
    width: 390px;
  }
}

/* --- mobile --- */
@media screen and (max-width: 472px) {
  .product-card {
    width: 85vw;
  }

  .tablet-img {
    display: none;
  }

  .mobile-img {
    display: block;
  }

  .product-card .add-to-cart-btn,
  .cart-quantity-control-btns {
    top: 62%;
    padding: 10px 25px;
  }

  dialog {
    margin: auto 0 0 0;
    width: 100vw;
    max-width: 100%;
  }

  .modal-header h2 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 375px) {
  .product-card .add-to-cart-btn,
  .cart-quantity-control-btns {
    top: 57%;
  }
}
